################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AleaIactaEst/.vs/AleaIactaEst/
/AleaIactaEst.Data/bin/Debug/net6.0
/AleaIactaEst.Data/obj/Debug/net6.0
/AleaIactaEst/obj/Debug/net6.0-windows
